<section class="row form">
  <form ng-submit="routesNew.create()">

      <div class="box col-md-6 col-md-offset-3">
        <label for="title">Route Title:</label><br>
        <input class="" name="title" ng-model="routesNew.route.title" placeholder="Ben Nevis via Tower Ridge">
      </div><br>

      <div class="box col-md-6 col-md-offset-3">
        <label for="route_description">Route Desciption:</label><br>
        <textarea class="textarea" name="route_description" type="textarea" ng-model="routesNew.route.route_description" placeholder="Summary of the Route..."></textarea>
      </div><br>

      <div class="box col-md-6 col-md-offset-3">
        <label for="number_of_participants">Number of walkers:</label><br>
        <input class="" name="number_of_participants" type="number" ng-model="routesNew.route.number_of_participants" placeholder="2">
      </div><br>


      <div class="box col-md-6 col-md-offset-3">
        <label for="conditions">Conditions:</label><br>
        <input class="" name="conditions" ng-model="routesNew.route.conditions" placeholder="Sunny/Showers/Snow/Poor Visibility">
      </div><br>

      <div class="box col-md-6 col-md-offset-3">
        <label for="season">Season:</label><br>
        <input class="radio" name="season" type="radio" value="spring" ng-model="routesNew.route.season">Spring
        <input class="radio" name="season" type="radio" value="summer" ng-model="routesNew.route.season">Summer
        <input class="radio" name="season" type="radio" value="autumn" ng-model="routesNew.route.season">Autumn
        <input class="radio" name="season" type="radio" value="winter" ng-model="routesNew.route.season">Winter
      </div>

      <button type="button" class="btn btn-primary" ng-click="routesNew.createRoute()" ng-if="!routesNew.showmap">Add Waypoints</button>
      <button type="button" ui-sref="routesShow({id: routesNew.routeId})" ng-if="routesNew.showmap">Submit</button>

      <google-map route-id="routesNew.routeId" is-traceable="true" center="{lat: 53.07326, lng: -3.9255007}" zoom="11" ng-if="routesNew.showmap"> MAP HERE  </google-map>

  </form>

</section>
