<section id="geolocate" class="page-wrapper light-bg">
  <div class="title-area">
    <h4>Get your current co-ordinates</h4><br>
  </div>
  <div class="container">
    <div id="longLat" class="row page-content">
      <h6>If you run into trouble in the hills, click below to get your latitude and longitude co-ordinates. You can give this information to Mountain Rescue to help them find you quicker</h6><br>

      <button class="btn btn-primary locationButton" type="button" name="geolocate" ng-click="main.getLocation()">Get Current Location</button>

    </div>
  </div>
</section>


<section id="mountainRescue" class="page-wrapper light-bg">
  <div class="title-area">
    <h4>Calling Mountain Rescue</h4>
  </div>
  <div class="container">
    <div class="row page-content">
      <h6>Dial 999 or 112, ask for Police and then Mountain Rescue</h6><br>
      <p>Now be ready to give a CHALET report:<br>
        <strong>Casualties</strong> – number, names (and, if possible, age); type of injuries, for example, lower leg, head injury, collapse, drowning etc.<br>
        <strong>Hazards</strong> to the rescuers – for example, strong winds, avalanche, rock fall.<br>
        <strong>Access</strong> – the name of mountain area and description of the terrain. It may be appropriate to describe the approach and any distinguishing features such as an orange survival bag. Information on the weather conditions at the incident site is useful, particularly if you are in cloud or mist.<br>
        <strong>Location of the incident</strong> – a grid reference and a description is ideal.<br>
        <strong>Equipment</strong> at the scene – for example, torches, other mobile phones, group shelters, medical personnel.<br>
        <strong>Type of incident</strong> – mountain, aircraft, train, etc. Be prepared to give a brief description of the time and apparent cause of the incident.</p><br>
    <a href="http://www.ukhillwalking.com/articles/page.php?id=7690">Further Information</a>
    </div>
  </div>
</section>

<section id=textService class=""page-wrapper light-bg"">
  <div class="title-area">
    <h4>Register for 999 text service</h4>
  </div>
  <div class="container">
    <div class="row page-content">
      <h6>If you run into the trouble when on the hills you may not have enough signal to call for help, but a text message may be able to get through!</h6>
      <p>To register, text 'register' to 999. You will get a reply and will then need to follow the instructions you are sent</p>
      <br>
      <a href="http://www.walkhighlands.co.uk/news/walkers-reminded-to-register-for-999-text-service/009296/">Further Information</a>
    </div>
  </div>
</section>
